.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.dialog {
    color: aliceblue;
}


.dialogItem {

    padding: 10px;
}

.dialogItem a {
    text-decoration: none;
}

.dialog a.active {
    color: #fb9344;
}


.messages {
    padding: 10px;
}

.message {

}