.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.dialog {
    color: aliceblue;
}


.dialogItem {

    padding: 10px;
    color: #f2fbf6;
}

.dialogItem a {
    text-decoration: none;
}

.dialog a.active {
    color: #fb9344;
}


.messages {
    padding: 10px;
}

.message {

}

.messages .message {
    color: #0a1246;
}